

.forgetpassword-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forgetpassword-main span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-eye-icon-forget{
    position:absolute;
    left:58%;
    margin-top:-2.8rem;
    @media(max-width:1200px){
        left:60%;
    }
    @media(max-width:900px){
        left:64%;
    }
}