

.sigin-main{
    
    display: flex;
    flex-wrap: wrap;
    margin:10rem 2rem 1rem 2rem;
   
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 5px 5px 10px #c0c0c0;
    @media(max-width:890px){
        border-bottom-left-radius: 2rem;
        border-top-right-radius: 0rem !important;
    }
      
}
.input-fields{
    width:93%;
    @media(max-width:923px){
        width:100%;
    }
}

.show-eye-icon{
    position: absolute;
    left:88%;
    margin-top:3.3rem;
    font-size: 1.8rem;
    @media(max-width:922px){
        left:73%;
    }
    @media(max-width:448px){
        left:68%;
    }
}
.show-eye-icon-siginin{
    position: absolute;
    left:92%;
    margin-top:3.3rem;
    font-size: 1.8rem;
    @media(max-width:1250px){
        left:89%;
    }
    @media(max-width:900px){
        left:70%;
    }
    @media(max-width:500px){
        left:70%;
    }
    @media(max-width:400px){
        left:65%;
    }
}