.card-text {
    @media(max-width:454px) {
        font-size: 1.5rem;
    }
}

.sub-text{
    color:#c0c0c0;
    font-size: 1.5rem;
    
}

.start-texts{
 
 
        text-align: start !important;
    
}
.card-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:1rem;
    @media(max-width:400px){
        flex-direction: column;
    }
    
}

.show-less{
    display: inline-block;
    max-height:4.4rem !important;
    overflow:hidden;
}
.show-less:hover{
    max-height: auto;
    overflow: visible;
}


.swiper-button-prev{
    @media(max-width:500px){
        display: none !important;
    }
}
.swiper-button-next{
    @media(max-width:500px){
        display: none !important;
    }
}