
.footer-text{
    font-size: 1.4rem;
}
.footer-header{
    font-size: 1.5rem;
    font-weight: 700;
    @media(max-width:550px){
        font-size: 1rem;
    }
}

.footer-text {
    @media(max-width:550px){
        font-size: 0.9rem;
    }
    // @media(max-width:435px){
    // font-size: 0.6rem;
    // }
}
.footer-down{
    font-size: 1.2rem !important;
    @media(max-width:550px){
        font-size: 0.7rem !important;
    }
    padding-bottom: .8rem;
}