
.nav-fluid {
    background-color: rgba(212, 19, 62, 0.77);
    color: white;
    font-size: 2rem;

    .col, .col-auto {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .mob {
      display: none;
    }
   

    @media(max-width:527px){
        .col-auto {
            display: none;
        }
        .bar {
            display: block;
        }
        .desk {
          display: none;
        }
        .mob {
          display: block;
        }
    }
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    background-color: rgb(194, 61, 90);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6rem;
  }
  
  .sidenav a {
    padding: 0.8rem 0.8rem 0.8rem 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 3.6rem;
    margin-left: 5rem;
    cursor: pointer;
  }