



html {
  font-size: 62.5%; /* 16px *62.5 = 10px =1rem */
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100%;
  font-size: 1.6rem;
  font-family: helvetica !important;

}
#root {
  height: 100%;
}

/* ------------------------------------tooltip design */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* global design */

 .btn_danger{
  background-color: #BB2124;
  color:white;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
a:hover {
  color: #ff8000;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #a4a4a4;
  font-size: 1.6rem;
  font-family: helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}

img {
  
  object-fit: cover;
}
img.custom{
  max-width:10rem;
  width:100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
img.extra-small{
  max-width: 7rem;
  width:100%;
  padding:1rem;
}
img.small{
  max-width: 10rem;
  width:100%;
  
}
img.medium {
  min-width: 30rem;
  min-height: 25rem;
  max-width: 30rem;
  max-height: 25rem;
}
img.large {
  max-width: 62rem;
 
  width: 100%;
  min-width: 30rem;
  max-height:62rem;

  
}
.single_row  {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1rem;
  
  
}
button.primary{
  background-color:#d4133ddc;
  color:White;
  font-size: 2rem;
}
button.secondary {
  background-color: #26A412;
  color:White;
  font-size: 2.3rem;
}
button.secondary_size{
  background-color: #26A412;
  color:White;
  font-size: 2rem;
  width:100%;

}
button.block{
  width:40%
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* ---------------------------------design messagebox and loading boxx */

/* message box style */

.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.02rem solid transparent;
  border: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}

/* for loadingbox*/

.load-spinner i {
  margin-left: 50%;
  margin-top: 15%;
  font-size: 5rem;
  color: green;
}








/* ---------------------------- */

.grid-container{
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5.4rem 1fr 20rem;
 
  height: 100vh;
}

/* header design */

.top_section{
  grid-area: header;
  position: fixed !important;
  z-index: 100000000;
  width: 100%;
  top: 0;
  background-color: rgb(212, 19, 61);
 
}
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:0.5rem;
   
}                       
.brand{
    font-size: 3rem;
    color:white;
    font-weight: 600;
    padding: .5rem;
}
.nav-left-menu{
    display: flex;
    padding: .5rem;
}
.nav-left-menu div{
    padding: 0.5rem;
    color:White;
    font-size: 1.9rem;
}
.nav-left-menu div a{
    color:white;
    text-decoration: none;
    
}

main{
    grid-area: main;
    
    
}





/* design nav search section */
/* moblie view  */
.mob-search{
  display: none;
}
.nav-search{
	display: flex;
	justify-content: center;
  
  width: 40%;
  
}
 .nav-search .search{
	border:.1rem solid #F80E0E ;
	border-radius:1rem ;
	background-color: #f8f8ff;
	color: rgb(114, 83, 83);
	font-size: 16px;
	cursor: text;
	text-align: center;
	color:black;
  width:100%
	
}
.nav-search .search:hover{
	background-color: #ddd;
	color:#000;
	border:none;
}
.nav-search .search:focus{
	outline: #4CAF50;
  border: .1rem solid #4CAF50;
}
.btn-search{
	padding: 1rem 2.5rem;
	font-size: 16px;
	background-color: rgba(15, 152, 170, 0.829);
	border-top-right-radius:1rem ;
	border-bottom-right-radius:1rem ;
	width:0.1%;
	margin-left:-5rem;
	cursor: pointer;
}
.btn-search:hover{
	opacity: 0.8;
}
.btn-search .fa-search{
	font-size: 1.6rem;
	color:#fff;
	margin-left:-1rem

}
.fa-search{
  font-size: 2.2rem !important;
}


/* .main{
  background-image: url("images/wp.png");
} */




.main {
  display: flex;
  flex-wrap: wrap;
  
}
.land-top{
  margin-top: 0rem;
}

.top{
  margin-top:5rem;
}

.main.top {
  align-items: flex-start;
}

.main.center {
  justify-content: center;
  align-items: center;
}
.main.space{
  justify-content: space-between;
}
.main.center.margin{
  margin-top:2rem;
}

.main.center.margin {
  
  
  margin: .1rem;
 
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 47%;
}
.row.center{
  justify-content: center;
}
.row .item-cat{
  display: flex;
  justify-content: space-between;
  margin:.5rem;
  height:15rem;
  width:100%;
  
}
.main .items:nth-child(1){
  background-color: rgb(223, 178, 173);
  border-radius: .8rem;
  margin:.2rem;
}
.main .items:nth-child(2){
  background-color: rgb(216, 223, 252);
  border-radius: .8rem;
  margin:.2rem;
}
.main .items:nth-child(3){
  background-color: rgb(207, 205, 184);
  border-radius: .8rem;
  margin:.2rem;
}
.main .items:nth-child(4){
  background-color: rgb(220, 247, 247);
  border-radius: .8rem;
  margin:.2rem;
}
.main .items:nth-child(5){
  background-color: rgb(223, 178, 173);
  border-radius: .8rem;
  margin:.2rem;
}

.items-data{
  padding:1rem;
}



/* footer sections */
footer {
  grid-area: footer;
  color: #ffffff;
  margin-top:2rem;
  margin-bottom: -2rem;
}
.sub-footer{
  background-color:rgb(212, 19, 61);
  display: flex;
  justify-content: space-between;
  padding:2rem;
  flex-wrap: wrap;
 
}
.column1{
  flex:none;
  margin:0 auto;
  
}
.column1 div a{
  padding: 1rem;
}
.main-footer{
  background-color: rgb(212, 19, 61);
  padding:2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer_items div{
  padding:1rem;
}
.footerlink{
  padding: 0.3rem 0;
  
}


/* mobile footer  */


.mob-footer{
  display: none;
}
/* landing page design */

.ms1_search {
  
  background-image: url(./wp.png);
	background-repeat: no-repeat;
  background-size: cover;
	height:55rem;
  min-height: 100%;
	min-width: 100%;
	
    
}
.ms1_text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.ms1_text h1{
    font-weight: 600;
    font-size: 3.5rem;
}
.search_city{
   display:flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}
.search_city select{
    padding:1rem 8rem;
    text-align:left;
    font-size: 2rem;
    border: none;
    border-radius: .5rem 0 0 .5rem;
}
.search_city button{
    padding: 1rem 3rem;
    font-size: 2rem;
    border:none;
    background-color:#FF0038;
    color:#ffffff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.wg2_gallary{
  margin: 4rem 6rem;
 
  
}
.wg2_title{
  font-size: 2.3rem;
  color: rgb(212, 19, 61);
  font-weight: 500;

}
.pto_section{
  display: flex;
  flex-wrap: wrap;
  margin-top:1rem;
  justify-content: center;
  
  
  
}


.pto_section_column1{
  background-color: #d4133d36;
  font-size: 2.5rem;
  max-height: 24.3rem;
  
  
  
}
.pto_sec_col1_content{
  text-align: center;
  padding: 5rem 8.9rem;
  top: 50%;
  left: 50%;
}
.pto_sec_col1_content button{
  background-color: #d4133d36 !important;
  border-width:.1rem;
  border-color:rgb(212, 19, 61)1A;
  border-radius: 2rem;
  padding: 2.5rem;
  margin-top:1rem;
  font-size: 2rem;
  

}
.pto_section_column2{
  max-height: 26rem;
  
}


.trend_venues{
  margin: 0 4rem;
 
  
  
}
.trend_text{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:0 6rem;
}






/* designing cart for venders and venues  */

/* card*/

.card {
  
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8ff;
  border-radius: 0.5rem;
  margin: 1rem;
  transition: transform 450ms;
  
}
.card:hover{
  transform:scale(1.08);
}
.card a {
  color: #000;
}
.card a:hover {
  color: #ff8000;
}

.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.product-name {
  font-weight: bold;
}
.price {
  font-size: 2rem;
}
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}


/* design venues  details page */
.col-1_signin{
  flex:30.1%;
  justify-content: center;
  text-align: center;
  margin:0  0rem;
}





.col-1{
  flex:30%;
  justify-content: center;
  text-align: center;
  margin:0  0rem;
}
.venue_details_margin{
  background-color: #fff;
  margin-top:-3rem;
  margin-left:8%;
  margin-right: 8%;
  position: relative;
  border:.2rem solid #f3f3f3;
  
}
.venue_details_row{
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
  margin:1rem;
}
.venue_details_row-bottom{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin:1rem;
}
.venue_details_row-bottom .photos{
  display: flex;
  
}
.venue_details_row_buttom {
  background-color:rgb(233, 224, 224);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.colm-4{
  padding:1rem;
  color:rgb(92, 89, 89);
  font-size: 2.3rem;
}
.venue_details{
  margin-top:2rem;
  background-color: #fff;
 
  border:.2rem solid #f3f3f3;
}
.gallery_image{
  display: flex;
  height:5rem;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: auto;
  border:.4rem solid red;
  width:100%;
  overflow:hidden;
}
.gallery_image div img {
  margin: .2rem .5rem  0 0;
}

.col-2 {
  flex:70%;

}

.g_service{
  display: flex;
  flex-direction: column;
}
.g_ser_hed{
  background-color: rgb(212, 19, 61);
  color:White;
  text-align: center;
}
.Ven_service{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-radius: .1rem solid #c0c0c0;

}
.dts_service{
  display: flex;
  justify-content: space-between;
  background-color: #f8f8ff;
  padding:.5rem 0;
  
  
}
.dts_col_1{
  display: flex;
  font-size: 1.7rem;

}
.dts_col_1 span{
  padding:.5rem;
}
.dts_col_1 span:nth-child(3){
  color: #26A412;
}
.fa-plus{
  font-size: 1.5rem;
  font-weight: 200 !important;
}
.dts_col_2{
  margin-right:2rem;
}
.fa-angle-down{
  font-size: 3rem;
  color:rgb(212, 19, 61);
  cursor: pointer;
}
.fa-angle-up{
  font-size: 3rem;
  color:rgb(212, 19, 61);
  cursor: pointer;
}
.hide_content span{
  display: none;
}

.hide_content .open{
  display: block;
}

.g_details{
  background-color: #f3f3f3;
  margin:.1rem .2rem;
  padding:.5rem;
}

.Ven_service .dts_desc{
  margin-left:2rem;
  font-size:1.6rem;
}

.ven_price_loc{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.venue_details_row-bottom .photos{
  display: flex;
 
}
.venue_details_row-bottom .photos div{
  padding-right:2rem;
}
.venue_details_row-bottom .img-area{
  border: .1rem solid #a4a4a4;
  border-radius: 1rem;
  max-width:50rem;
  width:70%;
  height:30rem;
}


/* --------------signup screen design--------------- */


/* * Signin screen form design */ */

.main.top_center{
  align-items: flex-start;
}
.top_center{
  align-items: flex-start;
  margin:7rem 2rem 0rem 2rem;
}





/* -------------------design Vendor Sign up page-------------------- */

.vendor{
  margin:8rem 6.5rem;
  
  background-color: #FCE4E4;
}

.form select{
  outline: none;
  background-color:white ;
  margin-bottom:1.2rem;
  width:54%;
}

img.ven_reg{
  max-width: 62rem;
  width: 100%;
  max-height:62rem;
}


/* ------client login screen------- */

.cli_log{
  position: absolute;
  top: 25%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.3rem;
  width:20rem;
  text-align: center;
}

img.cus_log{
  max-width: 50rem;
  width: 100%;
  max-height:50rem;
}



/* ---------------vendor dashboard page design------------------- */

.dashboard{
  background-color: #f7f7f7;
  
}
.das_aside{
    background-color: white;
    width:25%;
    /* border:.3rem solid #c0c0c0; */
    box-shadow: 0.5rem 0.5rem 1rem rgb(196, 196, 196);
    border-radius: 0.5rem;
    margin:0  0rem;
    height:100vh;
    
  
}
.das_aside div{
  padding:1rem;
  font-size:2rem;
  border-bottom: 0.1rem solid #c0c0c0;

}
.das_aside div a{
  color:black;
}
.das_aside div a:hover{
  color:rgb(212, 19, 61);
}

.ven_col-2{
 
    flex: 1 2 25rem;
  margin:2rem;
    
}

.box{
  max-width:15rem;
  max-height:20rem;
  width:100%;
  height:10rem;
  background-color:#ffffff;
  border-radius: .8rem;
  padding:2rem;
  margin:1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.box div{
  color:black;
  font-weight: bold;
  margin-top:0.3rem;
  font-size: 2.3rem;
}
.box div:nth-child(2){
  
  text-align: center;
}
.box div:nth-child(3){
  
  text-align: center;
}

/* .box-items{
   
} */





/* Deesigning Service management Screen and venue management sections*/
.ven_serv_manage form{
display: flex;
justify-content: center;
align-content: center;
text-align: center;
align-items: center;
flex-direction: column;
max-width:100rem;
  margin:0;
}
.form-col-2{
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
 
  align-content: center;
  
}
.form-col-2 input{
  outline: none;
  background-color:white ;
  margin-bottom:1.2rem;
  width:100%;
}
.form-col-2 select{
  outline: none;
  background-color:white ;
  margin-bottom:1.2rem;
  width:109%;
}
.ser-mng-col-3 {
  margin-left:1.8rem;
}
.form-col-2 .image_field input{
  outline: none;
  background-color:white ;
  margin-bottom:1.2rem;
  width:72%;
}
.form-col-2 .ser-mng-col-3 select{
  outline: none;
  background-color:white ;
  margin-bottom:1.2rem;
  width:80%;
}
.form-row-2{
  width: 100%;

}
.form-row-2 > div{
  display: flex;
  text-align: center;
  flex-direction: column;
 margin:2rem;
}
.form-row-2 textarea{
  width: 95%;
  height:15rem;
  margin:0;
}







/* --------------------------------------- */
/* profile page */

.profile{
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
  background-color: #f8f8ff;
  
}
.pro_col-1-main{
  /* flex:20%; */
  
}
.profile_bar{
  position: fixed;
  width: 25rem;
  height: 100%;
 
  z-index: 1000;
  transform: translateX(-50rem);
  transition: all 0.5s;
}
.profile_bar.open {
  transform: translateX(0);
}
.pro_col-1{
  background-color: #efefef;
  width: 25rem;
  height: 100vh;
  text-align: center;
}
.pro_setting{
  display: flex;
  padding:1rem 1rem;
  border:.1rem solid #c0c0c0;
  margin-bottom: .1rem;
  cursor: pointer;
  margin:1rem;
  border-radius: 1rem;
  max-width:37rem;
  width: 100%;
}
.pro_setting:hover{
  color:white;
  background-color: #e9e9e9;

}
.pro_col-2{
  flex:40%;
  border:.1rem solid red;
}










/* ---------------------------------------------- */



/* aside section */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
  margin-top: 0rem;
  padding-top: 1rem;
  
}
.aside-padding
{
  padding:1rem;
}
aside.open {
  transform: translateX(0);
}

button.open-sidebar {
  font-size: 2rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
  border:none;
}
button.open-sidebar:hover {
  border-color: #ffffff;
  border: 0.1rem solid white;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  /* display: flex;
  justify-content: space-between; */
  padding: 0.5rem;
  
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}
.aside-category ul li{
    display: flex;
    justify-content: space-between;
    
}
.aside-menu a{
  color:Black;
}

.sub_category div{
  display: none;
}
.sub_category .open{
  display: block;
}
.close_category{
  display: none;
}
.categories{
  border-bottom:.2rem solid #c0c0c0;
}

/* ----------------------------------------------- */

/* designing for drop down*/

.dropdown{
	display: inline-block;
	position: relative;
 

}
.dropdown-content{
	position: absolute;
	display:none;
	right: 0;
	min-width: 12rem;
	padding: 1rem;
	z-index: 1;
	background-color: whitesmoke;
	margin: 0;
	border-radius: 0.5rem;
  color:black;
}
.dropdown-content li{
	list-style-type: none;
  color:black;
}
.dropdown:hover .dropdown-content {
	display: block;
  

}
.dropdown-content li a{
  color:black;
}
.dropdown-content li a:hover{
  color:rgb(212, 19, 61);
}



/* vendor registration from hide and display */


/* design cart page */


.cart-col-1 {
  flex: 1 1 25rem;
  border: 0.5rem dashed #ff8000;
}
.cart-col-2 {
  flex: 2 1 40rem;
  border: 0.5rem dashed #ff8000;
}
.cart-row{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  
}
.cart-row li{
  list-style: none;
}
.top{
  margin-top:2rem;

}
.cart-row.top{
  align-items: flex-start;
}
.cart-main{
  display: flex;
  flex-direction: column;
}
.cart-main div{
  padding:1rem
}

/* carousel design */
/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
  background-color: #fff;
  color:#f02020;
}
.rec.rec-arrow{
 padding-bottom:1rem;
 background-color: white;
 border:none !important;
}

.gaaBdk{
  box-shadow: 0 0 0 0 #fff !important;
  width: 0px !important;
  padding: 1.5rem !important;
  min-width: 0px !important;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}
.iDfeOS{
  margin:0 !important;
}


/* profile screen */

.Profile-Account{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  
  
}

.pro-info{
  display: flex;  
  justify-content: flex-start;
  margin:0 3rem 1rem 0;
  flex-wrap: wrap;
  
  
}

.pro-info-items{
  display: flex;
  flex-direction: column;
  margin-left:10%;
  padding-bottom:2rem ;
}

.pro-info-items div{
  padding: 2rem 0rem 0rem 0rem;
}
.pro-info-items div:nth-child(1){
  font-size: 2.3rem;
  font-weight: 500;
  padding:0rem 0rem 1rem 0rem;
}
.pro-info-items div:nth-child(2){
  border-bottom: .1rem solid #b1b1b133;
  margin-top: -2rem;
}

.hidden{
  display: none;
}
.hidden .fa-lock, .fa-user{
  font-size:2.3rem;
  color:white;
  padding:1rem;

}
@media only screen and (max-width: 920px){
  /* desigining top search sections */
  .search_city{
    flex-wrap: nowrap;
  }
  .search_city select{
    padding: 1rem;
  }
  .search_city button{
    padding:1rem 1rem;
    font-size: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@media only screen and (max-width: 920px){
  .cli_log{
    left:50%;
  }
}
@media only screen and (max-width: 856px){
  .nav-search{
    width:40%;
  }
}@media only screen and (max-width: 743px){
  .pto_sec_col1_content {
   
    padding:0;
  }
  .search_city button{
    padding:0.19rem 1.5rem;
    font-size: 1.7rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .top_section{
    margin-bottom: -0.6rem;
  }
  
}
@media only screen and (max-width: 735px){
  .nav-search{
    width:35%;
  }
}
@media only screen and (max-width:687px){
  main{
    margin-top:3.2rem;
  }

 
  .nav-search{
    display: none;
  } 
  .mob-search{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    margin:0 2rem;
    padding-bottom:1rem ;
    
  }
   .mob-search .search{
    border:.1rem solid #F80E0E ;
    border-radius:1rem ;
    background-color: #f8f8ff;
    color: rgb(114, 83, 83);
    font-size: 16px;
    cursor: text;
    text-align: center;
    color:black;
    width:100%
    
  }
  .mob-search .search:hover{
    background-color: #ddd;
    color:#000;
    border:none;
  }
  .mob-search .search:focus{
    outline: #4CAF50;
    border: .1rem solid #4CAF50;
  }
  .btn-search{
    padding: .8rem 2.5rem;
    font-size: 16px;
    background-color: rgb(28, 158, 28);
    border-top-right-radius:1rem ;
    border-bottom-right-radius:1rem ;
    width:0.1%;
    margin-left:-5rem;
    cursor: pointer;
  }
  .btn-search:hover{
    opacity: 0.8;
  }
  .btn-search .fa-search{
    font-size: 1.6rem;
    color:#fff;
    margin-left:-1rem
  
  }
  .fa-search{
    font-size: 2.2rem !important;
  }
  .pto_section_column1{
    width:100%;
    height:auto;
    padding-bottom: 2rem;
    font-size:1.7rem;
  }
  .pto_section_image{
    width:100%;
  }
  .search_city button{
    padding:0.12rem 1.5rem;
  }
}
@media only screen and (max-width: 625px){
  .sub-footer{
    display: none;
  }
  .mob-footer{
    
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    background-color:rgb(212, 19, 61);
  }
  .mob-footer div {
    padding:1rem 0.5rem;

  }
  .mob-footer div {
    font-size: 1.5rem;
  }
  .main-footer{
    font-size: 1.5rem;
  }
  .pto_section_column1{
    width:100%;
    height:auto;
    padding-bottom: 2rem;
    font-size:1.7rem;
  }
  .pto_section_image{
    width:100%;
  }
  .search_city button{
    padding:0.155rem 1.5rem;
  }
}



@media only screen and (max-width: 570px){
  /* designing header section */
  .nav-left-menu{
    display: none;
  }
  .hidden{
    display: block;
  }
  .search_city select{
    font-size: 1.6rem;;
  }
  .search_city button{
    padding:0.12rem 1.5rem;
    font-size: 1.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .trend_text h2{
    font-size: 1.7rem;
  }
  
}

@media only screen and (max-width: 400px){
  .search_city button{
    padding:0.3rem 1.5rem;
    font-size: 1.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}