
.sidenav {
    

    .col, .col-auto {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .mob {
      display: none;
    }

   
   

    @media(max-width:527px){
        .col-auto {
            display: none;
        }
        .bar {
            display: block;
        }
        .desk {
          display: none;
        }
        .mob {
          display: block;
        }
    }
    
}

.mg-bot{
  margin-top: -5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.0rem !important;
}
.overlay {
  display: none;
  
}

.actives {
  display: block;
  position: fixed;
  margin-right:25rem;
  width: 100vw;
  height: 100vh;
  background: rgba(41, 39, 39, 0.7);
  z-index: 10000000000;
  opacity: 0.5;
  transition: all .5s ease-in-out;
  overflow: hidden;
}
.scroll-disable{
  overflow:hidden !important;
  height: 630px;
}
.sidenav {
  
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100000000000;
    top: 0;
    right:-2rem;
    background-color: rgb(194, 61, 90);
    // overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6rem;
  }
  
  .sidenav a {
    padding: 0.8rem 0.8rem 0.8rem 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 3.6rem;
    margin-left: 5rem;
    cursor: pointer;
  }


  .side-head{
    margin-left: 2rem;
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    border-bottom: solid 0.1rem;
    width: 80%;
  }
  .row-hover{
    margin:0.5rem 0;
    width: 92%;
    
  }
  .row-hover:hover{
    background-color: #c0c0c0;

  }
  .row-hover .right-angle {
    cursor: pointer;
    margin-right:.5rem;
  }
  .row-hover .right-angle i {
    color: white;
    font-size: 3rem;
  }
  .back-head{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
    border-bottom: solid 0.1rem;
    padding:0.8rem;
   
  }
.left-angle i{
    cursor: pointer;
   font-size: 2rem;
  }
  



  .subcat-head{
    margin-top:1rem;
    margin-left: 2rem;
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    
    
  }

  //************************************
  // for hiding category and display sub category in side bar



  .hidecat{
    display: none;
  }
  .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }